MEMORY {
    # Commands execute at $0800 in RamWorks bank
    MAIN:   start = $0800, size = $B800, file = %O;
}

SEGMENTS {
    CODE: load = MAIN, type = ro;
    RODATA: load = MAIN, type = ro;
    DATA: load = MAIN, type = rw;
    BSS: load = MAIN, type = bss, define = yes;
    ZEROPAGE: load = MAIN, type = zp;
}
